<div>
	<h4>Currently logged in as</h4>
	<span>{{user.email}}</span>
</div>
<!--<button ng-click="handleUpdateButtonClick()">Save Playlist</button>-->
<md-button ng-click="handleLogoutButtonClick()">Log out</md-button>