<md-toolbar class="md-theme-light">
    <h2 class="md-toolbar-tools">Playlist</h2>
</md-toolbar>
<md-content layout-padding ng-controller="PlaylistController">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <!-- init soundManager2 player -->
                <sound-manager></sound-manager>
                <ul>
                    <li ng-repeat="song in playlist">
                        <a play-from-playlist="song">{{ song.name }}</a>
                        <a remove-from-playlist="song" data-index="{{$index}}">
                            <small>(remove)</small>
                        </a>
                        <span ng-if="currentPlaying.id == song.id"> - (current)</span>
                    </li>
                </ul>
                <md-slider flex min="0" max="100" ng-model="progress" aria-label="progress" ng-disabled="true">
                </md-slider>
                <p>
                    Currently Playing: {{ currentPlaying.name }} by {{ currentPlaying.artists[0].name }} ({{ currentPostion }} / {{ currentDuration }})
                </p>

                <div class="seekBase" seek-track>
                    <div class="seekLoad" ng-style="{width : ( progress + '%' ) }"></div>
                </div>
                <md-button class="md-fab md-mini" aria-label="Play/Pause" play-pause-toggle data-play="<i class='fa fa-play'></i>" data-pause="<i class='fa fa-pause'>"><i class="fa fa-play"></i></md-button>
                <md-button stop-music class="md-fab md-mini" aria-label="Stop"><i class="fa fa-stop"></i></md-button>
                <md-button ng-class="repeat ? 'active' : ''" repeat-music class="repeat-button md-fab md-mini" aria-label="Repeat"><i class="fa fa-repeat"></i></md-button>
                <!--Is Playing: {{ isPlaying }}-->
                <md-button ng-class="mute  ? 'active' : ''" mute-music class="mute-button md-fab md-mini" aria-label="Mute"><i class="fa fa-volume-off"></i></md-button>
                <md-slider flex min="0" max="100" ng-disabled="mute" ng-model="volume" aria-label="Volume">
                </md-slider>
                <md-button prev-track class="md-fab md-mini" aria-label="Prev Track"><i class="fa fa-step-backward"></i></md-button>
                <md-button next-track class="md-fab md-mini" aria-label="Next Track"><i class="fa fa-step-forward"></i></md-button>
                <!--<button clear-playlist>Clear Playlist</button>-->
            </div>
        </div>
    </div>
</md-content>