<div class='search-section' ng-controller="SearchController">
    <form ng-submit="handleSearchButtonClick()">
        <div layout layout="row">
            <md-input-container flex>
                <label>Search here...</label>
                <input ng-model="q">
            </md-input-container>
            <md-button class="button">Search</md-button>
        </div>
    </form>
    <!--<ul id="search-results"></ul>-->
    <div>
        <md-content>
            <md-tabs md-dynamic-height md-border-bottom md-center-tabs="false">
                <md-tab label="Songs">
                    <md-content class="md-padding">
                        <md-grid-list
                                md-cols-sm="1" md-cols-md="2" md-cols-gt-md="4"
                                md-row-height-gt-md="1:1" md-row-height="2:2"
                                md-gutter="12px" md-gutter-gt-sm="8px" >
                            <md-grid-tile md-rowspan="1" md-colspan="1" md-colspan-sm="1"
                                    ng-repeat="song in songs.data" ng-style="{'background-image':'url({{song.album.picUrl}})'}">
                                <md-grid-tile-footer>
                                    <h3>{{song.name}}</h3>
                                    <h4>{{song.album.name}} - {{song.artists[0].name}}</h4>
                                </md-grid-tile-footer>
                                <md-button ng-click="showAddToPlaylistToast()" music-player add-song="song" class="add-button md-fab md-mini" aria-label="Add to Playlist"><i class="fa fa-plus" ></i></md-button>
                            </md-grid-tile>
                        </md-grid-list>
                    </md-content>
                </md-tab>
                <md-tab label="Artists">
                    <md-content class="md-padding">
                        Coming Soon!
                    </md-content>
                </md-tab>
                <md-tab label="Albums">
                    <md-content class="md-padding">
                        Coming Soon!
                    </md-content>
                </md-tab>
            </md-tabs>
        </md-content>
    </div>

</div>