<!DOCTYPE html>
<html lang="en" ng-app="amp">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="The laboratory for all sorts of frontend experiments, maybe a blog as well.">
    <meta name="robots" content="index, follow">
    <title>Awesome Music Player</title>
    <link rel="stylesheet" href="css/vendor.css">
    <link rel="stylesheet" href="css/app.css">
    <link rel="stylesheet" href="css/jplayer.blue.monday.min.css">
</head>
<body class="container" ng-controller="AppCtrl">
    <md-toolbar layout="row">
        <div class="md-toolbar-tools">
            <!--<md-button ng-click="toggleSidenav('left')" hide-gt-sm class="md-icon-button">-->
                <!--<md-icon aria-label="Menu" md-svg-icon="https://s3-us-west-2.amazonaws.com/s.cdpn.io/68133/menu.svg"></md-icon>-->
            <!--</md-button>-->
            <h1>Awesome Music Player</h1>
        </div>
    </md-toolbar>
    <div layout="row" flex>
        <!--<md-sidenav layout="column" class="md-sidenav-left md-whiteframe-z2" md-component-id="left" md-is-locked-open="$mdMedia('gt-sm')">-->
        <!--</md-sidenav>-->
        <div layout="column" flex id="content">
            <md-content layout="column" flex class="md-padding">
                <% include ../partials/search %>
                <% include ../partials/playlist %>
            </md-content>
        </div>
    </div>
    <script src="js/vendor.js"></script>
    <script src="js/jquery.cookie.js"></script>
    <script type="text/javascript" src="js/jquery.jplayer.min.js"></script>
    <script type="text/javascript" src="js/jplayer.playlist.min.js"></script>
    <script type="text/javascript" src="js/jquery.jplayer.inspector.min.js"></script>
    <script src="js/app.js"></script>
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','http://www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-55910264-1', 'auto');
        ga('send', 'pageview');
    </script>
</body>
</html>