//new angular material theme
.search-section md-grid-list md-grid-tile {
  background-size: 100%;
}

md-toast{
  position: fixed;
}

.add-button.md-fab {
  position: absolute;
  top: 10px;
  right: 10px;
}

.repeat-button.active{
  color:red;
}
.mute-button.active{
  color:black;
}